<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="favicon.ico" />
	<title>{{ BOARD_TITLE }}</title>
	
	<!-- 
	<link rel="stylesheet" href="js/lib/jquery-ui-1.8.16.css" type="text/css" />
	 -->
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" type="text/css" />
	
	<link href="css/app.css" rel="stylesheet" type="text/css"/>
	<link href="css/list.css" rel="stylesheet" type="text/css"/>
	<link href="css/note.css" rel="stylesheet" type="text/css"/>
	<link href="css/notify.css" rel="stylesheet" type="text/css"/>
	
	<script src="js/lib/jquery-1.6.4.min.js" type="text/javascript"></script>
	<script src="js/lib/jquery-ui-1.8.16.min.js" type="text/javascript"></script>
	<script src="js/lib/underscore-1.2.1.min.js" type="text/javascript"></script>
	<script src="js/lib/backbone-0.5.3.min.js" type="text/javascript"></script>
	<script src="js/lib/json2.js" type="text/javascript"></script>
	
	<script src="js/model/ListModel.js" type="text/javascript"></script>
	<script src="js/view/ListView.js" type="text/javascript"></script>
	<script src="js/view/ListNameView.js" type="text/javascript"></script>
	<script src="js/view/ListCreateView.js" type="text/javascript"></script>
	
	<script src="js/model/ListCollection.js" type="text/javascript"></script>
	<script src="js/view/ListCollectionView.js" type="text/javascript"></script>
	
	<script src="js/model/NoteModel.js" type="text/javascript"></script>
	<script src="js/view/NoteView.js" type="text/javascript"></script>
	<script src="js/model/NoteCollection.js" type="text/javascript"></script>
		
	<script src="js/view/NoteCollectionView.js" type="text/javascript"></script>
			
	<script src="js/model/NotificationsCtrlModel.js" type="text/javascript"></script>
	<script src="js/view/NotificationsCtrlView.js" type="text/javascript"></script>
	
	<script src="js/Minima.js" type="text/javascript"></script>
		 
	<script src="js/MinimaController.js" type="text/javascript"></script>
	<script src="js/MinimaClient.js" type="text/javascript"></script>
	<script src="js/index.js" type="text/javascript"></script>
	
</head>
<body>
	<input type="hidden" id="minima-read-only" value="{{ READ_ONLY }}"/>
	<input type="hidden" id="minima-websocket-location" value="{{ WEBSOCKET_LOCATION }}"/>
	<div class="wrapper">
		<div id="header">
				
			<div class="minima-logo">&nbsp;</div>
			<h1>{{ BOARD_TITLE }}</h1>
			<div id="controls">
				<div id="notifications_ctrl"></div>	
			</div>
		</div>
		<div id="content"><div id="board"></div></div>
		<div class="push"></div>
	</div>
	
	<div class="footer">
		<div id="readonly-notice">This board is read-only. Please <a href="{{ LOGIN_URL }}">login</a> to enable editing.</div>
	</div>
	
	<script type="text/template" id="notify-template">		
		  <span class="notify-ctrl-label">notifications:</span>
			<% if  (permission == 'allowed' || permission == 'not_allowed') { %>			
				<span class="notify-on <% if (active) { %> notify-on-selected <% } %>">ON</span><span class="notify-off <% if (!active) { %> notify-off-selected <% } %>">OFF</span>
			<% }  else if (permission == 'denied') { %>
				<span class="notify-ctrl-label">disabled</span>
			<% } else if (permission == 'not_supported') { %>
				<span class="notify-ctrl-label">not supported</span>
			<% } %>		
			<span class="notify-help">?</span>
			<div class="notify-help-topic">
				A notification is a popup displayed when there is an update for this board.
				<% if  (permission == 'allowed' || permission == 'not_allowed') { %>
						<% if (active) {  %>
							<br/><br/><strong>Notifications are turned on.</strong>
						<% } else { %>
							<br/><br/><strong>Notifications are turned off.</strong>
						<% } %>
				<% }  else if (permission == 'denied') { %>
						<p class="notify-help-topic-warn">
						Your browser disabled notifications for this page,
						but you can change this setting in your browser options.
						</p>
				<% } else if (permission == 'not_supported') { %>
						<p class="notify-help-topic-warn">
						Your browser does not support notifications.
						</p>
				<% } %>		
			</div>	
	</script>
	
	<script type="text/template" id="list-template">
		<div class="list-header"></div>
		<div class="list-notes"></div>
		<div class="list-footer"></div>
	</script>
	
	<script type="text/template" id="list-name-template">
		<span class="list-name-display"><%= name %></span>
		<input type="text" class="list-name-edit" value="<%= name %>"/>
	</script>
	
	<script type="text/template" id="list-create-template">	
		<textarea class="list-add-note-textarea"></textarea>
		<span class="list-add-note-btn">add note</span>
	</script>
	
	<script type="text/template" id="note-template">
		<div class="note-view">
			<span class="ui-icon ui-icon-trash note-archive-btn"></span>
			<%= obj.desc %>
		</div>
		<div class="note-edit">
			<textarea class="note-textarea"></textarea>
		</div>
	</script>
	
</body>
</html>