html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video
	{
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	margin: 0;
	padding: 0;
}

html,body {
	height: 100%;
}
body {
	
}
body,input,select,textarea {
	line-height: 1;
	font: 14px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #444444;
}
ol,ul {
	list-style: none;
}
h3,h4,h5,h6 {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 6px;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	color: #222;
}
#content {
	display: inline;
}
html {
	background-color: white;
}
#board {
	padding-top: 2em;
	float: left;
	height: 100%;
}
#controls {
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	margin: 6px;
}
#readonly-notice {
	display: none;
}
.ui-tag {
	color: #3C3EBA;
}
#topbar {
	padding-top: 0.75em;
	padding-right: 0.5em;
	padding-bottom: 1.3em;
	border-bottom: 1px solid black;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	overflow: visible;
}
#topbar.topbar-readwrite {
	height: 5.25em; /* first-row+margin + second row */
}
#topbar.topbar-readonly {
	height: 3em;
}
#topbar-push-content.topbar-readonly {
	height: 6.75em;
}
#topbar-push-content.topbar-readwrite {
	height: 6.75em; /* topbar-readwrite + topbar paddings */
}
#topbar .firstrow {
	height: 2.5em;
	_border: 1px dashed yellow;
	margin-bottom: 0.75em;
}
#topbar .secondrow {
	height: 2em;	
	_border: 1px dashed green;
}
#topbar .buttons {
	_margin-top: 0.5em;
}
#topbar .board-title {
	display:inline-block;
	width: 30%;
	float: left;
	height: 2.5em;
	padding-top: 0.5em;
	min-width: 10em;
}
#topbar .board-title .minima-title-value {
	margin: 0;
	padding-top: 2px;
	font-weight: bold;
	color: #222;
	float: left;
	font: 14px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 2.2em;
	height: 100%;
	_line-height: 19px;
	display: block;
	vertical-align: bottom;	
	display: table-cell;
}
#topbar .board-title .minima-logo {
	width: 1.2em;
	height: 1.2em;
	border: 0.25em solid #222;
	background-color: white;
	margin-right: 3px;
	_margin-left: 23px;
	float: left;
	display: block;
	margin-top: -10;
}
#topbar .alerts {
	margin-top: 0.75em;
	position: fixed;
	left: 30%;
	top: 0;
	z-index: 11000;
	overflow: visible;
	width: 30%;
	display: block;
	overflow: hidden;
}
#topbar .controls {
	width: 30%;
	float: right;
	text-align: right;
}
#topbar .alerts .alert-message {
	_display: none;
	background-color: #efefef;
	background-image: none;
	color: black;
	text-shadow: none;
}
#topbar .alerts .alert-message * {
	color:black;
	text-shadow: none;
}

#topbar, #board {
	padding-left: 2em;
}

.alerts {
	border: 1px solid gray;
}