.list-container {
	float: left;
	padding: 0;
	min-height: 15px;
	list-style-type: none;
	background-color: white;
	_display: block;
	border-radius: 3px;
	border: 1px solid gray;
	margin: 1em;
	padding: 7px;
}
._list-container {
	margin: 3px 3px 3px 0; padding: 1px; float: left; width: 100px; height: 100px; font-size: 4em; text-align: center;
	overflow: hidden;
}

#sortable li {  }
	
.list-header {
	margin-bottom: 0px;
}
.lists-ul-container {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.lists-placeholder {
	_width: 100px;
	_height: 100px;
	_border: 1px solid #ccc;
	_border-radius: 4px;
	_margin-bottom: 8px;
	background-color: #8C8C8C;	
}
.list-footer {
	margin-top: 0px;
}
.list-name-container {
	margin-bottom: 6px;
}
.list-name-display {
	border: 1px solid white;
	border-left: 1px;
}
.list-name-display, .list-name-edit {
	font-size: 18px;
	font-weight: bold;
	_line-height: 15px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 22px;
	display: inline-block;
}
.list-name-edit {	
	display: none;
	border: 1px solid #ccc;
	background-color: #ffffcc;
	padding-left: 3px;
	border-radius: 3px;
	width: 98%;
}
.notes-container {
	min-height: 2.5em;
}
.list-add-note-textarea {
	display: none;	
	background-color: #ffffcc;
	resize: none;
	width: 100%;
	height: 100px;
	padding: 6px;
	border: 1px solid #ccc;
	font-size: 18px;
	line-height: 1.2em;		
	margin: 0;	
	box-sizing: border-box;         /* For IE and modern versions of Chrome */
	-moz-box-sizing: border-box;    /* For Firefox                          */
	-webkit-box-sizing: border-box; 
	
}
.list-add-note-btn {
	border: 1px solid #ccc;
	background-color: #efefef;
	color: #efefef;
	border-radius: 4px;
	margin-bottom: 1px;
	cursor: pointer;	
	padding-top: 6px;
	padding-bottom: 6px;	
	min-height: 1em;
	display:block;
	text-align: center;
}
.list-add-note-btn-hover {
	background-color: #ddd;
	color: #888;
}