.note-container {	
	background-color: white;	
	margin-bottom: 8px;
	cursor: pointer;	
	min-height: 1.5em;
	line-height: 1.2em;
}
.note-container-readonly {
	cursor: auto;
}
.notes-placeholder {
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 8px;
	background-color: #8C8C8C;
}
.note-archive-btn {
	float: right;
	display: block;
	border: 1px solid white;
	border-radius: 3px;
	position: absolute;			
	margin: 4px;
	background-color: #eee;
	cursor: pointer;
}
.note-view {
	padding: 6px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 18px;
	line-height: 1.2em;
	word-wrap: break-word;
}

.note-save-alert {
	display: none;
	color: #705400;
	text-align: center;
	font-style: italic;
	font-family: monospace;
	font-size: small;
	border: 1px solid #705400;
	border-radius: 4px;
	
	margin-right: 12px;
	margin-left: 12px;
	margin-top: 4px;
	background-color: #ffd4aa;
	padding: 1px;
	line-height: 1em;
}

.note-editor {
	display: none;	
	background-color: #ffffcc;
	resize: none;
	width: 100%;
	height: 100px;
	padding: 6px;
	border: 1px solid #ccc;
	font-size: 18px;
	line-height: 1.2em;		
	margin: 0;	
	box-sizing: border-box;         /* For IE and modern versions of Chrome */
	-moz-box-sizing: border-box;    /* For Firefox                          */
	-webkit-box-sizing: border-box; 
}

.notes-container {
	min-height: 2.5em;
}
